.navbar-brand {
  background-color: red;
  width: 100%;
}

/* .navbar-toggler-icon {
  background-color: blue;
} */

button {
  color: coral;
}

/* ul li {
  list-style: none;
} */

#user {
  color: darkgreen;
  list-style: none;
}
